<nav
  class="navbar navbar-expand-sm navbar-light bg-light"
>
  <div class="container-fluid">
    <a class="navbar-brand header" href="#" >بضاعتي</a>
    <button
      class="navbar-toggler d-lg-none"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#collapsibleNavId"
      aria-controls="collapsibleNavId"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
      <ul class="navbar-nav me-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="transferBS" routerLinkActive="active">التحويلات 1</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="transferCSS" routerLinkActive="active">التحويلات 2</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="finance" routerLinkActive="active">ضريبة</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="goods" routerLinkActive="active">صرف البضاعة</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="sheet" routerLinkActive="active">Sheet</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
