section{
  direction: rtl;
  .row{
    background-color: #f5f5f5;
    .fileRequestNumber{
      font-size: 11px;
    }
  }
  .line{
    height: 2px;
    background-color: blue;
  }
  table{
    background-color: #eee;
    .head:hover{
      background-color: #DDD;
      cursor: default;
      color: #fff;
    }
  }
}
