<section class="container-fluid">
  <div class="buttonsContainer">
    <i class="fa-solid fa-chevron-left fs-4" role="button"></i>
    <div class="buttons">
      <button class="primary">
        <i class="fa-solid fa-print"></i>
        طباعه
      </button>
    </div>
  </div>
  <!-- ============================================= -->
  <h5>طريقة حساب القيمة المضافة للشركة</h5>
  <div class="fieldset">
    <div class="box">
      <input type="radio" id="first" name="check">
      <label for="first">مبدأ الإستحقاق (أكثر من 5 مليون جنيه)</label>
      <p class="label">تحسب ضريبة القيمة الاجلة تبعا لإعتمادها على العميل</p>
    </div>
    <div class="box">
      <input type="radio" id="second" name="check">
      <label for="second">مبدأ الأساس النقدي (أقل من 5 مليون جنيه)</label>
      <p class="label">تحسب الضريبة في الفواتير الاجلة تبعا للمبلغ المحصل </p>
    </div>
  </div>
  <h5>إعدادات ترحيل ضريبة القيمة المضافة</h5>
  <div class="two">
    <div class="content">
      <label for="first">حساب المبيعات</label>
      <select name="selling" id="" value="بحث">
        <option value="">1</option>
        <option value="">2</option>
        <option value="">3</option>
      </select>
    </div>
    <div class="content">
      <label for="second">حساب المشتريات</label>
      <select name="buying" id="" value="بحث">
        <option value="">1</option>
        <option value="">2</option>
        <option value="">3</option>
      </select>
    </div>
    <div class="content">
      <label for="second">حساب وسيط</label>
      <select name="deel" id="">
        <option value="">1</option>
        <option value="">2</option>
        <option value="">3</option>
      </select>
    </div>
  </div>
</section>
