// ==================================================
.row.rowsContainer{
  padding: 20px 10px;
}
.row .rowContent{
  margin-top: 10px;
}
// ==================================================
section .line{
  height: 2px;
  background-color: blue;
  margin-block: 10px;
}
// ==================================================
table .danger{
  background-color: red;
}
.sectionTwo .row{
  padding-block: 5px;
}
.sectionTwo .rowContent{
  margin-block: 0px;
  padding: 0px;
}
