table tr{
  vertical-align: middle;
}
table tr td select{
  width:75%;
  border: none;
  border-radius: 5px;
  padding: 5px;
  outline: none;
}
.even td{
  background-color: #dddddd4c !important;
}
table{
  direction: ltr;
}
