<section>
  <div class="container-fluid">
    <div class="buttonsContainer">
      <i class="fa-solid fa-chevron-left fs-4" role="button"></i>
      <div class="buttons">
        <button class="primary">
          <i class="fa-solid fa-print"></i>
          طباعه
        </button>
        <button class="primary">
          <i class="fa-solid fa-up-down"></i>
          Print Sort
        </button>
        <button class="danger" [disabled]="myForm.invalid"  (click)="handleForm()">
          <i class="fa-solid fa-floppy-disk"></i>
          حفظ
        </button>
      </div>
    </div>
    <div class="row container-fluid">
      <div class="col-lg-5 row align-items-center">
        <label for="branch" class="col-2">الفرع</label>
        <select class="col-8" name="branch" id="branch">
          <option value="فرع 1">فرع 1</option>
          <option value="فرع 2">فرع 2</option>
          <option value="فرع 3">فرع 3</option>
        </select>
      </div>
      <div class="col-lg-4 row  container-fluid align-items-center">
        <label for="user" class="col-3">المستخدم</label>
        <select class="col-8" name="storage" id="storage">
          <option value="عميل 1">عميل 1</option>
          <option value="عميل 2">عميل 2</option>
          <option value="عميل 3">عميل 3</option>
        </select>
      </div>
      <div class="col-lg-3 row  container-fluid align-items-center mt-2 mt-lg-0">
        <label for="time" class="col-5">الوقت</label>
        <input type="time" class="col-7" id="time" placeholder="الوقت">
      </div>
    </div>
    <div class="row  container-fluid">
      <div class="col-lg-7 row  container-fluid align-items-center">
        <div class="col-md-6 row">
          <label for="branch" class="col-4">رقم المستند</label>
          <input type="number" class="col-8" id="branch" placeholder="رقم المستند">
        </div>
        <div class="col-md-6 row">
          <label for="branch" class="col-4">تاريخ المستند</label>
          <input type="date" class="col-8" id="branch" placeholder="التاريخ">
        </div>
      </div>
      <div class="col-lg-3 row align-items-center mt-2 mt-lg-0">
        <label for="check" class="col-5">رقم الفاتوره اليدوي</label>
        <input type="number" class="col-7" id="check" >
      </div>
      <div class="col-lg-2 row align-items-center mt-2 mt-lg-0">
        <label for="status" class="col-7">حالة السند</label>
        <input type="text" class="col-5" id="status">
      </div>
      <hr>
      <!-- ================================================================================= -->
      <div class="col-lg-8 row align-items-center">
        <label for="branch2" class="col-2">من فرع</label>
        <select class="col-8" name="branch2" id="branch2">
          <option value="فرع 1">فرع 1</option>
          <option value="فرع 2">فرع 2</option>
          <option value="فرع 3">فرع 3</option>
        </select>
      </div>
      <div class="col-lg-8 row align-items-center">
        <label for="storage" class="col-2">من مخزن</label>
        <select class="col-8" name="storage" id="storage">
          <option value="مخزن 1">مخزن 1</option>
          <option value="مخزن 2">مخزن 2</option>
          <option value="مخزن 3">مخزن 3</option>
        </select>
      </div>
      <div class="col-lg-4 row align-items-center">
        <label for="recieveNumber" class="col-7">رقم سند الاستلام في الفرع</label>
        <input type="number" class="col-5" id="recieveNumber">
      </div>
      <div class="col-lg-8 row align-items-center">
        <label for="branch3" class="col-2 fw-bold">إلى فرع</label>
        <select class="col-8" name="branch3" id="branch3">
          <option value="فرع 1">فرع 1</option>
          <option value="فرع 2">فرع 2</option>
          <option value="فرع 3">فرع 3</option>
        </select>
      </div>
      <div class="col-lg-8 row align-items-center">
        <label for="storage2" class="col-2">إلى مخزن</label>
        <select class="col-8" name="storage2" id="storage2">
          <option value="مخزن 1">مخزن 1</option>
          <option value="مخزن 2">مخزن 2</option>
          <option value="مخزن 3">مخزن 3</option>
        </select>
      </div>
      <div class="col-lg-4 row justify-content-between">
        <button for="request" class="col-4 primary" role="button">طلب المواد</button>
        <input type="text" class="col-5" id="request">
        <div class="col-1"></div>
      </div>
      <div class="col-lg-8 row align-items-center">
        <label for="notes" class="col-2">ملاحظات</label>
        <input type="text" class="col-10" id="notes" placeholder="رقم المخزن">
      </div>
    </div>
  </div>
</section>
<section>
  <table>
    <thead>
      <tr>
        <th class="head"></th>
        <th class="head">رصيد الصنف</th>
        <th class="head">رقم الصنف</th>
        <th class="head">إسم الصنف</th>
        <th class="head">الوحدة</th>
        <th class="head">الكمية</th>
        <th class="head">سعر الوحدة</th>
        <th class="head">الإجمالي</th>
        <th class="head">بونص</th>
        <th class="head">خصم</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="head">1</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>الإجمالي</td>
        <td>بونص</td>
        <td>خصم</td>
      </tr>
      <tr>
        <td class="head">2</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>الإجمالي</td>
        <td>بونص</td>
        <td>خصم</td>
      </tr>
    </tbody>
    <tfoot>

    </tfoot>
  </table>
</section>
